<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Insert banknote details</title>

</head>
<body>
<h1>Insert the details here:</h1><br>
<form align="center" method="POST" action="\predict">
    <p>
        <h3 align="center">Variance:</h3><br>

    </p>
    <p><input type="text" name="variance" align="Center" ><br></p>

    <p>
        <h3 align="center">Skewness:</h3><br>
    </p>
    <p><input type="text" name="skewness" align="Center"><br></p>
    <p>
        <h3 align="center">Curtosis:</h3><br>

    </p>
    <p><input type="text" name="curtosis" align="Center"><br></p>

    <p>
        <h3 align="center">Entropy</h3><br>

    </p>
    <p><input type="text" name="entropy" align="Center"><br></p>

    <input type="submit" value="send" class="submit"><br>

    <br><br>{{msg}}

</form>

</body>
</html>